<!DOCTYPE html>
<html>
<title>Platform API Document</title>
<head>
<meta charset="utf-8">
<head>
<xmp theme="united" style="display:none;">
{{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>